* {
    font-family: "Poppins", sans-serif;
}

.path{
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 1.8s linear infinite alternate;
    stroke: #8400b4;
    fill-opacity: 0;
}

#error-file-div{
  background-image: url(/public/code-snippet.png);
  background-size: cover;
  height: 100%;
  min-height: 410px;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
      fill-opacity: 1;
    }
  }